{% extends 'CekurteUserBundle::layout.html.twig' %}

{% set title    = 'Profile'|trans %}
{% set subtitle = 'Password Recovery'|trans %}

{% trans_default_domain 'FOSUserBundle' %}

{% block links -%}
    <a title="" class="btn btn-default" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-list"></span> {{ 'List'|trans }}</a>
{% endblock %}

{%- block content -%}
    {%- if invalid_username is defined -%}
        <section class="messages">
            <div class="alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ 'Erro' | trans | capitalize }}!</strong> {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
            </div>
        </section>
    {%- endif -%}

    <form class="form-horizontal" role="form" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <div class="form-group">
            <div class="col-lg-2">
                <label class="required" for="username">{{ 'resetting.request.username'|trans }}</label>
            </div>
            <div class="col-lg-10">
                <input type="text" id="username" name="username" class="form-control" pattern=".{2,}" maxlength="255" required="required" />
            </div>
        </div>

        {% embed 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
            {% block action_reset %}{% endblock %}
            {% block action_submit_icon %}<span class="glyphicon glyphicon-envelope"></span>{% endblock %}
            {% block action_submit_label %}{{ 'Reset Password'|trans }}{% endblock %}
        {% endembed %}
    </form>
{%- endblock -%}
