{% extends 'CekurteUserBundle::layout.html.twig' %}

{% set title    = 'Profile'|trans %}
{% set subtitle = 'Details'|trans %}

{% block links -%}
    <a title="" class="btn btn-default" href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-pencil"></span> {{ 'Edit' }}</a>
    <a title="" class="btn btn-default" href="{{ path('fos_user_resetting_request') }}"><span class="glyphicon glyphicon-wrench"></span> {{ 'Password Recovery'|trans }}</a>
    <a title="" class="btn btn-default" href="{{ path('fos_user_resetting_request') }}"><span class="glyphicon glyphicon-wrench"></span> {{ 'Password Recovery'|trans }}</a>
{% endblock %}

{%- block content -%}
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>{{ 'profile.show.username'|trans }}:</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.email'|trans }}:</th>
                <td>{{ user.email }}</td>
            </tr>
        </table>
    </div>
{%- endblock -%}
