{% extends 'CekurteUserBundle::layout.html.twig' %}

{% set title    = 'Profile'|trans %}
{% set subtitle = 'Change Password'|trans %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'CekurteUserBundle:Form:fields.html.twig' %}

{% block links -%}
    <a title="" class="btn btn-default" href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-list"></span> {{ 'List'|trans }}</a>
{% endblock %}

{%- block content -%}
    <form class="form-horizontal" role="form" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        {% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
    </form>
{%- endblock -%}